@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: calc();
}

body {
    background-image: url(BG002.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 5%;
  align-items: center;
  background: white;
  height: 80px;
}

.logo img {
  margin: 0;
  height: 30px;
  width: 30px;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: black;
  padding: 8px 30px;
  border-radius: 7px;
  transition: all .3s ease;
}

ul li a:hover,
ul li a.active {
  color: white;
  background: lightblue;
}

#icon {
  background-color: black;
  padding: 5px 7px 3px 7px;
  border-radius: 4px;
  cursor: pointer;
  transition: all .3s ease;
}

#icon svg {
  color: white;
  height: 28px;
  transition: all .3s ease;
}

#icon:hover {
  background: white;
}

#icon:hover svg {
  color: black;
}

#checkbox,
#icon {
  display: none;
}

@media screen and (max-width: 1080px) {
  nav {
      border-bottom: 1px solid #455468;
  }

  ul {
      position: absolute;
      width: 100%;
      height: calc(100vh - 71px);
      background-color: white;
      left: 0;
      top: 0;
      text-align: center;
      display: none;
      margin-top: 71px;
  }

  ul li {
      display: block;
      padding: 10px 15px;
  }

  ul li a {
      display: block;
      padding: 10px 0;
  }

  #icon {
      display: block;
  }

  #checkbox:checked~ul {
      display: block;
  }
}

header {
    background-color: white;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

header a {
    color: black;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
}

.logo img {
    width: 50px;
    height: 50px;
}

header .topnav {
    display: inline-flex;
    justify-content: space-evenly;
    overflow: hidden;
    text-decoration: none;
}

.list {
    font-family: serif;
    text-decoration: none;
    display: inline;
    padding: 5px;
    font-size: 20px;
}

.list a:hover {
    transition: .3s;
    border-radius: 40px;
    color: black !important;
}

.foot {
    text-align: center;
    background: white;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
}

.tb {
    color: white;

}

.columns{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

table {
    border-spacing: 0;
    border: 2px solid black ;
    border-collapse: collapse;
}

th {
    font-size: 40px;
    justify-content: center;
}

td {
    color: white;
    background-color: rgba(0, 0, 0, 0.672);
    border: 3px solid rgba(255, 255, 255, 0.769);
    text-align: center;
    padding: 20px;
}

@media only screen and (max-width: 760px) {
    .columns{
        overflow-x: auto;
        font-size: 9px;
        width: 95%;
    }
    td{
      padding: 0;
      width: 100%;
    }
    table{
      width: 20%;
    }
}